.even-switch-btn {
    background-color: var(--buttons----primary);
    border: none;
    padding: 0.31rem 1rem;
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;    
    width: 90%;
    margin: 0 auto;
}
.even-switch-btn::before {
    transition: background-color 0.2s ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    translate: -50%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--buttons----primary);
    border-radius: 50%;
    z-index: -1;
}
.even-switch-btn::after {
    transition: background-color 0.2s ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    translate: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--buttons----primary);
    border-radius: 50%;
    z-index: -1;
}
.button-1::before {
    animation: reduce 0.2s ease-in-out forwards;
    translateX(-100%);
}
.button-1::after {
    animation: increase 0.2s ease-in-out forwards;
}
.button-2::after {
    animation: reduce 0.2s ease-in-out forwards;
}
.button-2::before {
    animation: increase 0.2s ease-in-out forwards;
}
@keyframes reduce {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
@keyframes increase {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
.even-switch-btn:hover {
    background-color: var(--primary-hover);
    filter: drop-shadow(var(--button-hover));
}
.even-switch-btn:hover::after, button:hover::before {
    background-color: var(--primary-hover);
}
