<form id="contact">
    <span class="form-title">Get in touch with me!</span>
    <div class="form-group">
        <input type="text" name="firstname" placeholder="First Name">
        <input type="text" name="lastname" placeholder="Last Name">
    </div>
    <input type="text" name="email" placeholder="E-Mail">
    <textarea name="message" placeholder="Message"></textarea>
    <button type="submit">Send</button>
    <div class="socials">
        <span>Or find me on:</span>
        <div class="socials-group">
            <a class="icon" href="https://github.com/xanderazuaje" target="_blank">
                <img src="icons/github.svg" alt="Github">
            </a>
            <a class="icon" href="https://www.linkedin.com/in/xanderazuaje/" target="_blank">
                <img src="icons/linkedin.svg" alt="LinkedIn">
            </a>
            <a class="icon" href="https://twitter.com/xanderazuaje" target="_blank">
                <img src="icons/x.svg" alt="X">
            </a>
        </div>
    </div>
</form>

<style>
    form {
        width: 21rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .form-title {
        color: var(--accent);
    }
    input, textarea {
        display: block;
        width: 100%;
        background: var(--container);
        border: none;
        padding: 0.5rem;
        color: var(--text);
        transition: box-shadow 0.2s ease-in-out;
        border-radius: 0.25rem;
    }
    textarea {
        height: 5rem;
        resize: none;
    }
    input::placeholder, textarea::placeholder {
        color: var(--placeholder);
    }
    .socials {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }
    .socials > span {
        color: var(--text);
        opacity: 0.5;
    }
    .form-group {
        display: flex;
        gap: 0.5rem;
    }
    input:focus, textarea:focus {
        outline: none;
    }
    button {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: none;
        background-color: var(--buttons----primary);
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
    }
    button:hover {
        background-color: var(--primary-hover);
        filter: drop-shadow(0 0 0.25rem var(--primary-hover));
    }
    .socials-group {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
    }
    .icon > img {
        width: 2rem;
        height: 2rem;
        opacity: 0.2;
        transition: opacity 0.2s ease-in-out;
    }
    a:hover img {
        opacity: 0.8;
    }
</style>

<script>
    import { Resend } from 'resend';
    const resendApiKey = import.meta.env.VITE_RESEND_API_KEY;
    console.log(resendApiKey);
    const form = document.getElementById('contact') as HTMLFormElement;
    //const resend = new Resend(resendApiKey);
    function validateEmail(email: string) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
    }
    function checkForm() {
        const email = form.elements['email'].value;
        const firstname = form.elements['firstname'].value;
        const lastname = form.elements['lastname'].value;
        const message = form.elements['message'].value;
        if (email && (firstname || lastname) && message) {
            if (validateEmail(email)) {
                return true;
            } else {
                return false;
            }
        } else {
            return false;
        }
    }    

    form.addEventListener('submit', (e) => {
        console.log(form);
        e.preventDefault();
        if (!checkForm()) {
            console.log('Form is not valid');
            return;
        }
        const email = form.elements['email'].value;
        console.log(email);

    });
</script>
