---
import MaximizeIcon from '../icons/Maximize.astro'

const { title, description } = Astro.props;
---

<section id="greeter" class="expanded">
    <img src="sasuaje.png" alt="Photo of Xander Azuaje Sofware Developer" draggable="false">
    <div class="container elements">
        <div id="separator">
            <hr>
            <MaximizeIcon/>
        </div>
        <h2 id="title">{title}</h2>
        <p id="description">{description}</p>
    </div> 
</section>

<style>
    section{
        width: 21rem;
    }
    img{
        filter: grayscale(100%);
        transition: 0.3s ease-out;
        height: 9rem;
        width: 100%;
        object-fit: cover;
        object-position: top;
        mask-image: linear-gradient(to top, transparent 0%, black 10%);
        user-select: none;
    }
    img:hover{
        filter: grayscale(0%);
        transform: scale(1.1);
        transform-origin: bottom center;
    }
    #greeter{
        transition: height 0.3s cubic-bezier(.47,1.64,.41,.8);
    }
    #title{
        font-size: var(--h3);
        font-family: var(--heading);
    }
    #description{
        font-size: var(--text);
        font-family: var(--body);
        transition: all 0.3s ease;
        max-height: 600px;
        overflow: hidden;
    }
    .elements{
        position: relative;
        display: flex;
        gap: 0.6rem;
        flex-direction: column;
        justify-content: space-between;
        word-break: break-word;
        padding: 1rem;
        padding-top: 3.12rem;
        transition: all 0.3s cubic-bezier(.47,1.64,.41,.8);
    }
    #separator{
        width: 100%;
        position: absolute;
        top: 0%;
        right: 0%;
        padding: 1rem;    
        display: flex;
        align-items: center;
        gap: 0.6rem;
        color: var(--buttons----primary);
        transition: all 0.3s cubic-bezier(.47,1.64,.41,.8);
    }
    #separator hr{
        width: 100%;
        border: none;
        height: 0.25rem;
        background-color: var(--buttons----secondary);
        transition: 0.3s ease;
    }
    .expanded #separator hr{
        opacity: 0;
    }
    .expanded #separator {
        top: 50%;
        transform: translateY(-50%);
    }
    .expanded #description{
        max-height: 0;
    }
    .expanded .elements{
        padding: 1rem;
        gap: 0;
    }
    .expanded img {
        height: 18rem;
    }
</style>

<script>
    const button = document.querySelector("#separator > svg")
    const greeter = document.querySelector("#greeter")

    button.addEventListener("click", () => {
        greeter.classList.toggle("expanded")
    })
</script>
