<section id="hero">
    <span id="greet">Hi, my name is</span>
    <h1>Xander</h1>
    <h2>Software Developer</h2>
    <span id="tech"> Go - JavaScript - TypeScript - Python - C</span>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.6rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #greet {
        font-size: var(--body);
        color: var(--text);
    }
    h1 {
        font-size: var(--h1);
        color: var(--text);
        font-family: var(--heading);
        margin: 0;
    }
    h2 {
        font-size: var(--body);
        font-weight: va(--bold);
        color: var(--accent);
        margin: 0;
    }
    #tech {
        font-size: var(--small);
        color: var(--text);
    }
</style>

