---

---
<section id="hero" class="pt-20 text-center relative">
    <span class="text-h3 font-bold">
            Hi, I'm <span class="font-heading">Xander</span>
        </span>
    <h2 class="text-h5 font-bold">
        Software Developer
    </h2>
    <div class="text-primary flex flex-col gap-2">
        <a href="https://www.linkedin.com/in/xanderazuaje/">
            <img src="/icons/linkedin.svg" alt="linkedin" class="w-8 h-8 inline-block">
        </a>
        <a href="https://github.com/xanderazuaje">
            <img src="/icons/github.svg" alt="github" class="w-8 h-8 inline-block">
        </a>
        <a href="https://twitter.com/xanderazuaje">
            <img src="/icons/x.svg" alt="twitter" class="w-8 h-8 inline-block">
        </a>
    </div>
</section>
